:root{
    --azul-oscuro:#3660F7;
    --azul-clarito:#17B2E3;
    --azul-verdoso:#04E1E2;
    --blanco:#ffffff;
    --fuentePrincipal:"Staatliches", sans-serif;
}

html{
    box-sizing: border-box;
    font-size: 62.5%;
}

*,*::before, *::after{
    box-sizing: inherit;
}

body{
    font-size: 1.8rem;
    background-color: var(--azul-clarito);
    line-height: 1,5;
}

p{
    font-size: 1.8rem;
    font-family: Arial, Helvetica, sans-serif;
    color: var(--blanco);
}

a{
    text-decoration: none;
}

img{
    max-width: 100%;
}

.contenedor{
    max-width: 120rem;
    margin: 0 auto;
}

h1{
    font-size: 4rem;
}

h2{
    font-size: 3.2rem;
}

h3{
    font-size: 2.4rem;
}

h1,h2,h3{
    text-align: center;
    color: var(--azul-verdoso);
    font-family:var(--fuentePrincipal) ;
}

/*BEM
BLOCK = BLOQUES (header) un nombre que me identifique a ese bloque
ELEMENT = ELEMENTOS un nombre que me identifique a ese elemento (header__logo)
MODIFIER = MODIFICADORES navegacion__enlace--activo

*/

/*css header*/

.header{
    display: flex;
    justify-content: center;
}

.header__logo{
    margin: 3rem 0;
}

/*css navegacion*/
.navegacion{
    background-color: var(--azul-oscuro);
    padding:1rem 0 ;
    display: flex;
    justify-content: center;
    gap: 2rem;
    /*gap siver para dar separacion*/
}

.navegacion__enlace{
    font-family: var(--fuentePrincipal);
    color: var(--blanco);
    font-size: 3rem;
}

.navegacion__enlace:hover,.navegacion__enlace--activo{
    color: var(--azul-verdoso);
}

/*css footer*/

.footer{
    background-color: var(--azul-oscuro);
    padding: 1rem 0;
    margin-top:2.2rem;
}

.footer__text{
    text-align: center;
    font-family: var(--fuentePrincipal);
    font-size: 2.2rem;
}