header{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 2em;
}
.titulo{
    margin-left: 2rem;
    font-size: 20px;
}

a{
    text-decoration: none;
    color: black;
    font-size: 18px;
    text-align: center;
}

