<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Deportes - Deportes del Mundo</title>
    <link rel="stylesheet" href="styles.css">
    <link rel="icon" href="favicon.png">
</head>
<body>
   
    <nav>
        <div class="nav-enlaces">
            <a href="inicio.html">Inicio</a>
            <a href="deportes.html">Deportes</a> 
            <a href="noticias.html">Noticias</a> 
            <a href="galeria.html">Galería</a> 
        </div>
        <a href="contacto.html" class="contacto">Contacto</a> 
    </nav>
    <main>
        <section class="title">
            <h1>Deportes</h1>
        </section>
        <div class="cardItem-1">
            <img src="imagen6.jpg" alt="Imagen Deportes Del Mundo">
            <div>
                <h3>Fútbol</h3>
                <p>El fútbol se juega con un balón redondo y dos equipos de 11 jugadores cada uno. EL balón debe de ingresar a la portería del equipo rival para anotar un gol. Quien más goles tenga, gana el partido. Si el resultado es igual número de goles para cada equipo, se considera un empate. 
                </p>
            </div>
        </div>
        <div class="cardItem-2">
            <div>
                <h3>Básquetbol</h3>
                <p>El baloncesto, basquetbol o básquetbol (castellanización de basketball, en inglés) es un deporte en equipo, en el que dos bandos de jugadores se enfrentan y tienen como objetivo hacer entrar un balón en el aro del equipo contrario. Gana el juego el equipo que más anotaciones o “canastas” haga.
                </p>
            </div>
            <img src="Basketbol.jpg" alt="Imagen de Noticias">
        </div>
        <div class="cardItem-3">
            <img src="Europei_di_pallavolo_2005_-_Italia-Russia.jpg" alt="Imagen de Deportes">
            <div>
                <h3>Voleibol</h3>
                <p>El voleibol es un deporte que se juega en equipos de seis personas. Los equipos están separados por una gran red. El objetivo del juego es mantener la pelota en el aire usando cualquier parte del cuerpo, con un máximo de tres golpes por equipo antes de pasarla al otro lado de la red.
                </p>
            </div>            
        </div>
        <div class="cardItem-2">
            <div>
                <h3>Pádel</h3>
                <p>El pádel (del inglés paddle)​ es un deporte de raqueta con origen en México. Se juega siempre en parejas y consta de tres elementos fundamentales para su desarrollo: la pala, el campo de juego y la pelota. Entre 6'32 y 6'77 cm de diámetro, de color verde brillante, amarillo o naranja brillante.
                </p>
            </div>
            <img src="padel-tour.jpg" alt="Imagen de Noticias">
        </div>
        <div class="cardItem-3">
            <img src="imagenes.jpg" alt="Imagen de Deportes">
            <div>
                <h3>Béisbol</h3>
                <p>El béisbol es un deporte de bate y pelota jugado en un campo por dos equipos uno contra el otro. En el béisbol, un jugador de un equipo lanza una pelota pequeña y redonda a un jugador del otro equipo, quien trata de golpearla con un bate. Luego, el jugador que golpea la pelota tiene que correr alrededor del campo.
                </p>
            </div>            
        </div>
        <div class="cardItem-2">
            <div>
                <h3>Atletismo</h3>
                <p>El atletismo es un deporte que contiene un conjunto de disciplinas agrupadas en carreras, saltos, lanzamientos, pruebas combinadas y marcha. Es el arte de superar el rendimiento de los adversarios en velocidad o en resistencia, en distancia o en altura.
                </p>
            </div>
            <img src="imagen15.jpg" alt="Imagen de Noticias">
        </div>
        <div class="cardItem-3">
            <img src="imagen11.jpg" alt="Imagen de Deportes">
            <div>
                <h3>Fútbol Americano</h3>
                <p>El fútbol americano es un deporte que se disputa entre dos equipos, formado por once jugadores de campo en cada conjunto, que tiene una formación para cuando ataca, otra para cuando defiende y otra para las jugadas de retorno.
                </p>
            </div>            
        </div>
        <div class="cardItem-2">
            <div>
                <h3>Tenis</h3>
                <p>El tenis es un juego que se juega en una cancha de forma rectangular, que puede ser una de las muchas superficies. Se juega con dos jugadores (partido individual) o cuatro jugadores (partido doble). Los jugadores se paran en lados opuestos de la red y usan una raqueta de cuerda para golpear la pelota de un lado a otro.
                </p>
            </div>
            <img src="tenis.jpg" alt="Imagen de Noticias">
        </div>
        <div class="cardItem-3">
            <img src="natacion.png" alt="Imagen de Deportes">
            <div>
                <h3>Natación</h3>
                <p>La natación es el arte de sostenerse y avanzar, usando los brazos y las piernas, sobre o bajo el agua. Puede realizarse como actividad lúdica o como deporte de competición. Debido a que los seres humanos no nadan instintivamente, la natación es una habilidad que debe ser aprendida.
                </p>
            </div>            
        </div>
    </main>
    <footer> 
        <p>&copy; 2024 Deportes del Mundo. Todos los derechos reservados.</p> 
    </footer>
    <script src="styles.js"></script>
    <script src="main.js"></script>
    
</body>
</html>