<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inicio - Deportes del Mundo</title>
    <link rel="stylesheet" href="styles.css">
    <link rel="icon" href="favicon.png">
</head>
<body>
    <nav>
        <div class="nav-enlaces">
            <a href="inicio.html">Inicio</a>
            <a href="deportes.html">Deportes</a> 
            <a href="noticias.html">Noticias</a> 
            <a href="galeria.html">Galería</a> 
        </div>
        <a href="contacto.html" class="contacto">Contacto</a> 
    </nav>
    <header class="header">
        <section>
            <h1>Deportes del Mundo</h1>
        </section>
    </header>
    
    <main>
        <div class="cardItem-1">
            <img src="imagen1.jpg" alt="Imagen Deportes Del Mundo">
            <div>
                <h3>Deportes del Mundo</h3>
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Totam veritatis tempore laudantium quibusdam facilis adipisci voluptatum ut sed quo incidunt? Ipsum eaque ut maxime reprehenderit culpa nisi voluptatum? Cum veniam quo ex et deleniti nam nihil in excepturi sint aperiam at, accusantium vel. Aliquam consequatur adipisci porro obcaecati dolores eligendi fuga odio, mollitia voluptate vel quas corrupti recusandae, quos deleniti similique aliquid, facere aspernatur architecto! 
                </p>
            </div>
        </div>
        <div class="cardItem-2">
        <div>
            <h3>Sport News</h3>
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quos, possimus asperiores aliquam fugiat natus exercitationem eum harum sequi ut reiciendis eius provident facilis non quis, voluptates iure. Facilis quos quo consectetur distinctio nesciunt deleniti unde perferendis voluptatum ad voluptates, libero, soluta voluptatibus modi atque, perspiciatis blanditiis! Exercitationem doloribus rerum eius. 
                </p>
            </div>
            <img src="imagen2.jpg" alt="Imagen de Noticias">
        </div>
        <div class="cardItem-3">
            <img src="imagen3.jpg" alt="Imagen de Deportes">
            <div>
                <h3>Deportes</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Veniam explicabo asperiores voluptatem odit iure quibusdam nesciunt nemo blanditiis porro magni? Unde et eius consectetur aspernatur porro ex aliquam debitis quidem neque at laborum quis, exercitationem necessitatibus dignissimos laudantium minima architecto vero, nam, excepturi fugit omnis cupiditate dicta optio.
                </p>
            </div>
            
        </div>
    </main>
    <footer> 
        <p>&copy; 2024 Deportes del Mundo. Todos los derechos reservados.</p> 
    </footer>
    <script src="styles.js"></script>
    <script src="main.js"></script>
</body>
</html>