<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Noticias - Deportes del Mundo</title>
    <link rel="stylesheet" href="styles.css">
    <link rel="icon" href="favicon.png">
</head>
<body>
    
    <nav>
        <div class="nav-enlaces">
            <a href="inicio.html">Inicio</a>
            <a href="deportes.html">Deportes</a> 
            <a href="noticias.html">Noticias</a> 
            <a href="galeria.html">Galería</a> 
        </div>
        <a href="contacto.html" class="contacto">Contacto</a> 
    </nav>
    <main>
        <section class="title">
            <h1>Noticias</h1>
        </section>
        <div id="content-noticias" class="content-noticias">

        </div>
    </main>
    
</body>
</html>