<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Noticias - Deportes del Mundo</title>
    <link rel="stylesheet" href="styles.css">
    <link rel="icon" href="favicon.png">
</head>
<body>
    
    <nav>
        <div class="nav-enlaces">
            <a href="inicio.html">Inicio</a>
            <a href="deportes.html">Deportes</a> 
            <a href="noticias.html">Noticias</a> 
            <a href="galeria.html">Galería</a> 
        </div>
        <a href="contacto.html" class="contacto">Contacto</a> 
    </nav>
    <main>
        <section class="title">
            <h1>Noticias</h1>
        </section>
        <div id="noticias-container" class="noticias-container"></div>
    </main>
    <div class="creador-noticia">
        <section class="title">
            <h3>Crear Nueva Noticia</h3>
        </section>
        <form id="form-noticia">
            <div class="noticia-group">
                <label class="label">Título:</label>
                <input type="text" id="titulo" class="titulo">
            </div>
            <br>
            <div class="noticia-group">
                <label class="label">Contenido:</label>
                <textarea id="contenido" class="contenido"></textarea
            </div>
            <br>
            <button type="submit">Crear Noticia</button>
        </form>
    </div>
    <footer> 
        <p>&copy; 2024 Deportes del Mundo. Todos los derechos reservados.</p> 
    </footer>
    <script src="app.js"></script>
</body>
</html>